* {
    margin: 0px;
}

header {
    background-color: rgb(159, 165, 170);
    min-height: 100px;
    display: block;
    /*background-image: url('imagens/1200px-Star_wars2.svg.jpg');*/
    
}

body {
    background-image:url('imagens/star-wars-backgrounds-29_9e72b83c.png');
}

img {
    position: relative;
    max-width: 300px;
    display: flex;
    margin: auto;
}

img#image {
    background-position: center;
    padding: 15px;
}

main {
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
}